
<div class="trialpartWrapper" id="part1" style="text-align: left;">
	Welcome! 
	<p>
	Please put your headphones on and listen to this made-up word: 
	<%= makeSoundButton({soundFile: "pharon_374.wav.mp3", soundID: "greeting"}) %>
</div>


<div class="trialpartWrapper" id="part2" style="text-align: left;">
	What did you hear?
	<%= makeTextInput({allowempty: false, matchRegExpression: "[pfshb]h?[aeiou]+r[aeiou]+[mn]", rightAnswer: "pharon", feedbackID: "#feedback" }) %>
	<%= continueButton("►") %>
	<p>
	<div id="feedback"></div>
</div>


<div class="trialpartWrapper" id="part3" style="text-align: left;">
	<p>
	<%= continueButton() %>
</div>



		

