<div style="text-align: left;">

<p>
Thank you for your time and effort. Tell your friends about our questionnaire!
</p>
<p>
<a href="http://www.linktoawesomeness.com">A link to your awesome experiment</a>
</p>

</div>