<div class="trialpartWrapper" style="text-align: left;">
	Now try saying something for us.
	<p>
	You will be asked to give us permission to use the microphone.
	<p>
	<%= makeRecorder("just_a_test") %>

</div>

<div class="trialpartWrapper" style="text-align: left;">
	<p>
	<%= continueButton() %>
</div>



