
<div class="trialpartWrapper" id="part1" style="text-align: left;">
	Bienvenue sur notre questionnaire ! Merci de votre participation. 
	<p>
	Pour commencer, mettez votre casque et cliquez ici: 
	<%= Experigen.screen().makeSoundButton({soundFile: "data/sounds/chauteil_119.wav.mp3", soundID: "greeting"}) %>
</div>


<div class="trialpartWrapper" id="part2" style="text-align: left;">
	Qu'avez vous entendu?
	<%= Experigen.screen().makeTextInput() %>
	<%= Experigen.screen().continueButton("►") %>
</div>


<div class="trialpartWrapper" id="part3" style="text-align: left;">
	<div id="feedback"></div>
	<p>
	<%= Experigen.screen().continueButton() %>
</div>

<%
		setTimeout(function(){
			$("#response0").change(function() {
				var str = $("#response0")[0].value;
				if (str.match(/bienven/i)) {
					$("#feedback").html("Oui, c'est bien ça !");
				} else {
					$("#feedback").html("Vous etiez censé entendre «Bienvenue». Vous pouvez reessayer.");
				}
			});
		}, 500);
%>
		

