
<p>
	Welcome to our English language questionnaire. We hope you enjoy it!
</p>
<p>
	Please put on headphones to participate. 
</p>
<p>
	Click the button to hear a made-up word: 
	<input type='button' id='pharon_sound_button' value='<%= exp.settings.strings.soundButton %>'>
	
	<br>

	Adjust the volume to a comfortable level.
</p>

<div id="pharon_buttons" style="display: none; text-align: center;">
	The word you just heard has the sound of...<br>
	<input type='button' id="pharon_leftbutton"  value="  the 'ph' in 'Stephen'  ">
	<input type='button' id="pharon_rightbutton" value="  the 'ph' in 'orphan'  ">
</div>

<script>

	soundManager.createSound({
		id: "pharon_sound",
		url: CONFIG.proxyURL + "data/sounds/pharon_374.wav.mp3",
		autoPlay: false, 
		autoLoad: true,
		onload:function() {
		},
		onfinish:function() {
			$("#pharon_buttons").show();
		}
	});

	$("#pharon_sound_button").click(function() { soundManager.play("pharon_sound");} ); 
	$("#pharon_leftbutton").click(function()   { alert("That's not right... try again.");});
	$("#pharon_rightbutton").click(function()  { exp.advance(this);}); 

</script>